
#root{
  background-color: black;
  min-height: 100vh;
}
.heading{
  margin-left: 29%;
  margin-top: auto;
}

.wetherResultBox{
  margin: auto;
  width: 500px;
  height: 300px;
  background-color: black;
  color: white;
}
img.weathorIcon{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
  color: white;
}
.weathorCity{
  font-size: 35px;
}
.weathorTemp{
  font-size:55px;
  font-weight: 700;
}
.slct{
  display: flex;
justify-content: center;
}
.slct1{
  margin-left: 2px;
}